body {
    margin: 0;
    background: url("./fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* filtro que solo acoge a el background */
    backdrop-filter: blur(6px); 
    transition: 6s ease-in-out;
    
    
}


#lottie-player-wrapper{
    position: absolute;
    top: 0;
    background:whitesmoke;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    
}



#products{
    
    visibility: hidden;
    /* max-width: 1200px; */
    margin: 0 auto;
    justify-content: center;
    font-size: 30px;
    padding: 25px;
    /* margin-top: 56px; */

 
}

lottie-player{
    width: 100%;
    height: auto;
}

#loginPlayRoom{
    /* margin-top:0 auto; */
    /* margin-left: auto;
    margin-right: auto; */
    display: inline-flex;
    justify-content: center;
    visibility: hidden;
    align-items: center;
    

}

#loginPlayRoom .card{
    width: 450px;
    text-align: center;
}
#registerPlayRoom{
    visibility:hidden;
    margin-top: 150px;
    width:650px;
    align-items: center;
    text-align: center;
}

@media (max-width: 767.98px){
    #products{
        margin: 130px 0;
        padding: 10px;
        
    }
    
        
    }


